* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.welcomePage{
  background-color:darkcyan;
}
#welcomePageNavbar{
  display: flex;
  flex-direction: column;
  background-image: url(https://freerangestock.com/sample/119650/technology-background--digital-hand.jpg);

  padding: 2%;

}

.nameTitle{
  text-align: center;
  margin: auto;
}
.navbarText{
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  font-weight: bolder;
  color: white;
}
a:visited {
  text-decoration: none;
}
li{
  padding: 10px;
}


.navbar{
  display: flex;
  flex-direction: row;

}


/* About Me page */
.myStoryText{
  text-align: center;
  margin: 1% 0%;
}

/* Me layout */
.aboutMeContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color:darkcyan;
}

.meContent{
  width: 60%;
}

.aboutMeContent{
  width: 40%;
  text-align: center;
  margin: 0% 8%;
}

.aboutMePara{
  margin: 7% 0%;
  font-size: larger;
}

.aboutMeImage{
  display: flex;
  align-items: center;
  width: 50%;
  height: 65%;
  margin-top: 5%;
  margin-left: 6%;
  border: 1px solid black;
}

/* Work layout */
.workContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color:darkkhaki;
}

.workContent{
  width: 40%;
  text-align: center;
  margin: 0% 3%;
}

.experiencePara{
  margin: 7% 0%;
  font-size: larger;
}

.workImage{
  display: flex;
  align-items: center;
  width: 65%;
  height: 65%;
  margin: 7% 40%;
  border: 1px solid black;
}

/* Education layout */

.educationContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color:gainsboro;
}

.educationContent{
  width: 40%;
  text-align: center;
  margin: 0% 8%;
}

.educationPara{
  margin: 7% 0%;
  font-size: larger;
}

.educationImage{
  display: flex;
  align-items: center;
  width: 65%;
  height: 65%;
  margin: 10% 20%;
  border: 1px solid black;
}


/* Profile Page */
.profilePage{
  width: 100%;

}
.firstGrid{
  display: flex;
  flex-direction: row; 
  background-color:black;
  padding-bottom: 2%;
}
.gitWebImage{
  display: flex;
  flex-direction: row;
}
.gitHubImage{
  width: 19%;
}
.websiteImage{
  width: 12%;

}


/* Horizon */
.horizonContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 3%; 
}

.horizonImage{
  width: 64%;
  height: 92%;
  border-radius: 5%;

}

.horizonText{
  margin-top: 5px;
  margin-left: 70px;
  text-decoration: none;
  color: white;
}

/* cssSnippit */
.cssSnippetContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 0%;
}

.CSSSnippetImage{
  width: 64%;
  height: 92%;
  border-radius: 5%;
}

.CSSSnippetText{
  margin-top: 5px;
  margin-left: 60px;
}

.htmcssPara{
  text-align: center;
  text-decoration: white;
  background-color:black;
  padding: 2%;
  line-height: 202%;
}
.explanation{
  color: aqua;
}
.secondGrid{
  display: flex;
  flex-direction: row; 
  background-color:black;
}

/* PasswordGenerated */
.PasswordGeneratedContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.PasswordGeneratedImage{
  width: 64%;
  height: 92%;
  border-radius: 5%;
}

.PasswordGeneratedText{
  margin-top: 5px;
  margin-left: 18px;
}

/* TestYourKnowledge */
.TestYourKnowledgeContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.TestYourKnowledgeImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.TestYourKnowledgeText{
  margin-top: 5px;
  margin-left: 76px;
}

/* SaveTheTask */
.SaveTheTaskContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.SaveTheTaskImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.SaveTheTaskText{
  margin-top: 5px;
  margin-left: 120px;
}

/* Whats the Weather */
.WeatherContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.WeatherImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.WeatherText{
  margin-top: 5px;
  margin-left: 92px;
}

/* ReadMe Generator */
.ReadMeGeneratorContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.ReadMeGeneratorImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.ReadMeGeneratorText{
  margin-top: 5px;
  margin-left: 91px;
}


/* Team Generator */
.TeamGeneratorContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.TeamGeneratorImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.TeamGeneratorText{
  margin-top: 5px;
  margin-left: 69px;
}

/* Note Taker */
.noteTakerContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

.noteTakerImage{
  width: 96%;
  height: 74%;
  border-radius: 5%;
}

.noteTakerText{
  margin-top: 5px;
  margin-left: 131px;
}

/* Contact Me Page */
.contactPage{
  background-color: darkcyan;
  padding: 4%;
  margin: 0%;
}

.contactForm{
  margin: 0% 20%;
  background-color: darkcyan;
}
.nameRow{
  text-align: left;
  padding: 2%;
}

.inputName{
  margin-left: 8%;
  padding: 1% 10%;
  
}
.emailRow{
  text-align: left;
  padding: 2%;
}
.inputEmail{
  margin-left: 2.5%;
  padding: 1% 20%;
}
.messageRow{
  text-align: left;
  padding: 2%;
}
.inputMessage{
  margin-left: 6%;
  padding: 1% 10%;
}
.submit{
  padding: 1% 10%;
  margin: 4% 40%;
}

.thirdGrid{
  display: flex;
  flex-direction: row; 
  background-color:black;
}

.titleText{
  text-decoration: brown;
}
/* resumePage */

.resumePage{
  padding-left: 2%;
  padding-top: 2%;
}

.resumePDF{
  padding-left: 4%;
}

.frontEndText{
  padding-left: 4%;
}

.backEndText{
  padding-left: 4%;
}